%div{ id: 'footer' }
  Propulsed with 
  %a{ href: 'http://www.sinatrarb.com', target: '_new' }
    Sinatra
  \/
  %a{ href: 'http://www.mootools.net', target: '_new' }
    Mootools
  \/
  %a{ href: 'http://www.heroku.com', target: '_new' }
    Heroku
  , icons by 
  %a{ href: 'http://www.komodomedia.com', target: '_new' }
    KomodoMedia.
		
