%div{ id: 'title' }
  %div{ class: 'floatl' }
    %img{ src: 'img/pictures.png' }
  %div{ id: 'myname', class: 'floatl' } 
    Benjamin Colon
    
%div{ class: 'parts'}
  About me
%div{ class: 'content'}
  %span Software Engineer
%div{ class: 'separator'}

%div{ class: 'parts'}
  Current work
%div{ class: 'content'}
  %span 
    Lead Developer at 
    %a{ href: 'http://official.fm', target: '_new' } 
      official.fm
    , Geneva.
%div{ class: 'separator'}  
  
%div{ class: 'parts more', style: 'display:none;'}
  Past works
%div{ class: 'content more', style: 'display:none;'}
  %span
    Software Engineer at 
    %a{ href: 'http://fairtilizer.com', target: '_new' }
      fairtilizer
  %br
  %div{ class: 'separator'} 
  %span
    Cofounder & Chief Development Architect at 
    %a{ href: 'http://oguron.com', target: '_new' }
      oguron
  %br
  %div{ class: 'separator'} 
  %span 
    Widgets Developer at 
    %a{ href: 'http://www.netvibes.com', target: '_new' }
      netvibes
  %br
  %div{ class: 'separator'} 
  %span
    Software Engineer at 
    %a{ href: 'http://www.aaton.com', target: '_new' }
      aaton
  %br
  %div{ class: 'separator'} 
  %span
    Founder of 
    %a{ href: 'http://www.mp3materiel.com', target: '_new' }
      mp3materiel.com
    
%div{ class: 'separator more', style: 'display:none;'}

%div{ class: 'parts'}
  Social
%div{ id: 'social', class: 'content'}
  %a{ href: 'http://facebook.com/benjamin.colon', target: '_new' }
    %img{ src: 'img/facebook_32.png', class: 'floatl' }
  %a{ href: 'http://twitter.com/bcolon', target: '_new' }
    %img{ src: 'img/twitter_32.png', class: 'floatl' }
  %a{ href: 'http://linkedin.com/in/bencolon', target: '_new' }
    %img{ src: 'img/linkedin_32.png', class: 'floatl' }
  %a{ href: 'http://github.com/bencolon', target: '_new' }
    %img{ src: 'img/github_32.png', class: 'floatl' }
  %a{ href: 'http://bencolon.official.fm', target: '_new' }
    %img{ src: 'img/officialfm_32.png', class: 'floatl' }
  %a{ href: 'http://colon.com.fr', target: '_new' }
    %img{ src: 'img/rss_32.png', class: 'floatl' }
  %a{ href: 'mailto:ben{at}colon{.}com{.}fr', target: '_new' }
    %img{ src: 'img/email_32.png', class: 'floatl' }
  %div{ id: 'more', class: 'floatr' }
    %a{ id: 'morelink', href: 'javascript:void(0);' }
      more